.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #4facfe;
  text-align: center;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.boxs {
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

}


.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
}
.product-card img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}
.price {
  font-weight: bold;
  color: #27ae60;
}
