.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #4facfe;
  text-align: center;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}
.price {
  font-weight: bold;
  color: #27ae60;
}

.btn {
  margin-top: 20px;
  padding: 5px 10px;
  color: tomato;
  font-size: 18px;
  align-items: center;
}

a {
  display: flex;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.remove-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.edit-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}